################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assurant.Portals.Global.AUL.API/obj
/Assurant.Portals.Global.AUL.BusinessModel/bin/Debug/netstandard2.1
/Assurant.Portals.Global.AUL.BusinessModel/obj/Debug/netstandard2.1
/Assurant.Portals.Global.AUL.BusinessModel/obj
/Assurant.Portals.Global.AUL.BusinessModel.Test/obj
/Assurant.Portals.Global.AUL.DataAccess/bin/Debug/netstandard2.0
/Assurant.Portals.Global.AUL.API/bin/Debug/netcoreapp3.1
/Assurant.Portals.Global.AUL.DataAccess/obj
/Assurant.Portals.Global.AUL.Domain/bin/Debug/netstandard2.0
/Assurant.Portals.Global.AUL.Domain/obj
/Assurant.Portals.Global.AUL.DataAccess.Test/obj
/Assurant.Portals.Global.AUL.Domain.Test/obj
/Assurant.Portals.Global.AUL.Interfaces/obj/Debug/netstandard2.0
/Assurant.Portals.Global.AUL.Interfaces/obj
/.vs/Assurant.Portals.Global.AUL/DesignTimeBuild
/.vs/Assurant.Portals.Global.AUL/v16
/Assurant.Portals.Global.AUL.Interfaces/bin/Debug/netstandard2.0
/Assurant.Portals.Global.AUL.WEB/AUL_Repo_Workspace.code-workspace
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Assurant.Portals.Global.AUL.WEB/.vscode/launch.json
/.vs
Assurant.Portals.Global.AUL.WEB/debug.log
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assurant.Portals.Global.AUL.API/bin/Debug/netcoreapp3.1
/Assurant.Portals.Global.AUL.API/obj/Debug/netcoreapp3.1
/Assurant.Portals.Global.AUL.API/obj/Release/netcoreapp3.1
/Assurant.Portals.Global.AUL.API/obj/Debug/netcoreapp3.1
/Assurant.Portals.Global.AUL.BusinessModel/bin/Debug/netstandard2.1
/Assurant.Portals.Global.AUL.BusinessModel/bin/Debug/netstandard2.1
/Assurant.Portals.Global.AUL.BusinessModel/obj/Release/netstandard2.1
/Assurant.Portals.Global.AUL.BusinessModel/obj/Debug/netstandard2.1
/Assurant.Portals.Global.AUL.DataAccess/obj
/Assurant.Portals.Global.AUL.DataAccess/bin/Debug/netstandard2.0
/Assurant.Portals.Global.AUL.BusinessModel.Test/obj/Release
/Assurant.Portals.Global.AUL.BusinessModel.Test/obj/Debug
/Assurant.Portals.Global.AUL.Domain/obj
/Assurant.Portals.Global.AUL.Domain/bin/Debug/netstandard2.0
/Assurant.Portals.Global.AUL.Domain.Test/obj/Release
/Assurant.Portals.Global.AUL.Domain.Test/obj/Debug
/Assurant.Portals.Global.AUL.Interfaces/obj
/Assurant.Portals.Global.AUL.Interfaces/bin/Debug/netstandard2.0
/.vs/Assurant.Portals.Global.AUL/v16
/.vs/Assurant.Portals.Global.AUL/DesignTimeBuild
/Assurant.Portals.Global.AUL.API/obj/Assurant.Portals.Global.AUL.WebAPI.csproj.nuget.g.targets
/Assurant.Portals.Global.AUL.API/obj/Assurant.Portals.Global.AUL.WebAPI.csproj.nuget.g.props
/Assurant.Portals.Global.AUL.API/obj/Assurant.Portals.Global.AUL.WebAPI.csproj.nuget.dgspec.json
/Assurant.Portals.Global.AUL.API/obj/Assurant.Portals.Global.AUL.WebAPI.csproj.nuget.cache
/Assurant.Portals.Global.AUL.BusinessModel/obj/Assurant.Portals.Global.AUL.BusinessModel.csproj.nuget.g.targets
/Assurant.Portals.Global.AUL.BusinessModel/obj/Assurant.Portals.Global.AUL.BusinessModel.csproj.nuget.g.props
/Assurant.Portals.Global.AUL.BusinessModel/obj/Assurant.Portals.Global.AUL.BusinessModel.csproj.nuget.dgspec.json
/Assurant.Portals.Global.AUL.BusinessModel/obj/Assurant.Portals.Global.AUL.BusinessModel.csproj.nuget.cache
Assurant.Portals.Global.AUL.DataAccess.Test/obj/Debug/Assurant.Portals.Global.AUL.DataAccess.Test.csprojAssemblyReference.cache
Assurant.Portals.Global.AUL.DataAccess.Test/obj/Release/Assurant.Portals.Global.AUL.DataAccess.Test.csprojAssemblyReference.cache
.vs/slnx.sqlite
/_published-website
/Octo/deploy
/Octo/deploy_API
/_published-website
/Assurant.Portal.Global.AUL.DataAccess.IntegrationTest/obj
/Assurant.Portal.Global.AUL.DataAccess.Test/obj
/Assurant.Portals.Global.AUL.BusinessModelTest/bin/Debug/netcoreapp3.1
/Assurant.Portals.Global.AUL.BusinessModelTest/obj
/Assurant.Portals.Global.AUL.BusinessModelTests/obj
/Assurant.Portal.Global.AUL.DataAccess.IntegrationTest/bin/Debug/netcoreapp3.1
/Assurant.Portal.Global.AUL.DataAccess.IntegrationTest/obj
/Assurant.Portal.Global.AUL.DataAccess.Test/bin/Debug/netcoreapp3.1
/Assurant.Portal.Global.AUL.DataAccess.Test/obj
/Assurant.Portal.Global.AUL.DataAccess.IntegrationTest/bin/Debug/netcoreapp3.1
/Assurant.Portal.Global.AUL.DataAccess.Test/bin/Debug/netcoreapp3.1
/api/.vs/TwitterAPI
/api/Domain/obj
/api/Interfaces/obj
/api/TwitterAPI/bin/Debug/netcoreapp3.1
/api/TwitterAPI/obj
/api/Domain/bin/Debug/netstandard2.0
/api/Interfaces/bin/Debug/netstandard2.0
/api/BusinessModel/obj
/api/DomainTests/bin/Debug/netcoreapp3.1
/api/DomainTests/obj
/api/TwitterAPI.sln.DotSettings.user
/api/BusinessModel/bin/Debug/netstandard2.0
